* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #23252C;
  color: #F5F5F5;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.app--container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
  width: 317px;
  margin: 1.5em auto;
  background: #1A1B21;
  border-radius: 10px 10px 10px 10px;
}

.header--img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  object-position: 0em 0em;
  border-radius: 10px 10px 0px 0px;
}

p, h1, h2, h3 {
  margin: 0;
}

h1, h2 {
  font-weight: 700;
  margin-top: 0.6em;
}

h1 {
  font-size: 1.56rem;
  line-height: 1.24em;
  color: #fff;
}

h2 {
  font-size: 1rem;
}

h3 {
  color: #F3BF99;
  font-size: 0.8rem;
  line-height: 1em;
  margin-bottom: 2em; /*0.4*/
}

p {
  font-size: 0.64rem;
  margin-bottom: 1em;
}

main {
  padding: 0.5em;
}

.button-container {
  padding: 0em 1.25em;
}

.main-btn {
  width: 115px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 12px 13px 9px 11px;
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 1em;
  text-decoration: none;
}

#email-btn {
  border: 1px solid #D1D5DB;
  background: #FFFFFF;
  color: #374151;
  margin-right: 1em;
}

#linkedin-btn {
  color: #fff;
  background: #5093E2;
  border: 1px solid #5093E2;
}

.header-icon{
  width: 20px;
  height: 20px;
}

.main-text {
  text-align: left;
  padding: 0em 1.25em;
}

.footer--container {
  background: #161619;
  border-radius: 10px;
  padding: 1.25em 0; 
  color: darkgray;
}

.footer-icon {
  width: 25px;
  height: 25px;
  margin: 0 0.75em;
}

.footer-link {
  color: darkgray;
  text-decoration: none;
}

